@model IEnumerable<UserStory>

<table class="table">
    <thead class="text-center">

        <tr>
            <th>
                <h1 class="display-4">To Do</h1>

            </th>
            <th>
                <h1 class="display-4">Doing</h1>

            </th>
            <th>
                <h1 class="display-4">Code Review</h1>

            </th>
            <th>
                <h1 class="display-4">Done</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @{foreach (var story in Model)
                    {
                        if (story.CurrentState == UserstoryState.ToDo)
                        {

                            @await Html.PartialAsync("_CardInfoPartial", story)
                        }
                    }
                }
                @await Html.PartialAsync("_CreateStoryPartial", new UserStory())
            </td>
            <td>
                @{foreach (var story in Model)
                    {
                        if (story.CurrentState == UserstoryState.Doing)
                        {

                            @await Html.PartialAsync("_CardInfoPartial", story)
                        }

                    }
                }
            </td>
            <td>
                @{foreach (var story in Model)
                    {
                        if (story.CurrentState == UserstoryState.CodeReview)
                        {

                            @await Html.PartialAsync("_CardInfoPartial", story)
                        }

                    }
                }
            </td>
            <td>
                @{foreach (var story in Model)
                    {
                        if (story.CurrentState == UserstoryState.Done)
                        {

                            @await Html.PartialAsync("_CardInfoPartial", story)
                        }

                    }
                }
            </td>
        </tr>

    </tbody>


</table>
