@model IEnumerable<UserStory>

<div class="d-flex justify-content-center mb-2">
    <a class="btn btn-outline-dark " asp-controller="UserStories" asp-action="Create">Create new userstory</a>
</div>

<table class="table">
    <thead class="text-center">

        <tr>
            <th>
                <h1 class="display-4">To Do</h1>

            </th>
            <th>
                <h1 class="display-4">Doing</h1>

            </th>
            <th>
                <h1 class="display-4">Code Review</h1>

            </th>
            <th>
                <h1 class="display-4">Done</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var story in Model)
            {
                <td>
                    @if (story.CurrentState == UserstoryState.ToDo)
                    {
                        @await Html.PartialAsync("_CardInfoPartial", story)
                    }

                </td>
                <td>

                    @if (story.CurrentState == UserstoryState.Doing)
                    {
                        @await Html.PartialAsync("_CardInfoPartial", story)
                    }

                </td>
                <td>

                    @if (story.CurrentState == UserstoryState.CodeReview)
                    {

                        @await Html.PartialAsync("_CardInfoPartial", story)
                    }

                </td>
                <td>

                    @if (story.CurrentState == UserstoryState.Done)
                    {
                        @await Html.PartialAsync("_CardInfoPartial", story)
                    }
                </td>
            }
        </tr>

    </tbody>


</table>
